a {
    color: white;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
    
}

.header-link {
    display:inline-block;
    margin: 20px;

}

ul {
    background-color: darkslategray;
    text-align: center;  
}


a:hover{
    color:darkcyan;
}